@charset "utf-8";

.site-header{
    display:flex; /*ヘッダーの子要素のdisplayを変更*/
    flex-flow: row wrap;
    justify-content: space-between; /*https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content*/
    background-color: azure;
    padding: 10px 10px 10px 10px ;
}

.header-title{
    
}

.header-navigation{
    align-items: center;
    display:flex; /*要素を横に積む*/
    list-style-type: none; /*li要素の点を消す*/
}

.header-navigation li{
        margin-left: 30px;
}
