@charset "utf-8";

.site-header{
    display:flex; /*要素を横に積む*/

}

.header-title{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.header-navigation{
    justify-content: space-between;
    flex-grow:2;
    flex-shrink:1;
    flex-basis:auto;
    display:flex; /*要素を横に積む*/
    list-style-type: none; /*li要素の点を消す*/

}
